

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link  href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'">
<link  href="https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'">


<link rel="stylesheet" href="~/css/AbotUsPage.css" />
<script src="~/js/map.js"></script>

<header class="_header">
    <div class="logo">
        <a href="#" class="company-name">Dairy Delights Emporium</a>
    </div>
    <div class="mogo">
        <a href="/Home/HomePage"><img src="~/img/Group 84(11).png" style="height:180px;width:180px;margin-top:-5px;" /></a>
    </div>
    <div class="header-buttons">
        <button class="btn cart-button" style="border: 2px solid black;">
            <i class="fas fa-shopping-basket"></i>
        </button>
        <button class="btn fav-button" style="border: 2px solid black;">
            <i class="fas fa-heart"></i>
        </button>
        <button class="btn user-button" style="border: 2px solid black;">
            <i class="fas fa-user"></i>
        </button>
    </div>
</header>

<div class="row">
    <div class="containers ">
        <img src="/img/0cc01f856dff36feb6404b4edebce084.jpg" style="    height: 700px;
    width: 1000px;
    padding-left: 330px;" />
    </div>

    <div class="content ">
        <center><h1 class="contentHead">О нашей компании</h1></center>

        <h2 class="h2us">
            Dairy Delights Emporium - это не просто магазин сыров, это настоящий храм для ценителей изысканных вкусов. Наша страсть к мастерству и стремление к высокому качеству отражаются в каждом предложенном ассортименте. Мы гордимся тем, что предлагаем не только классические французские бри и камамберы, но и редкие, экзотические вариации сыров со всех уголков мира.

            Наша миссия заключается не только в предоставлении разнообразных вариантов сыров, но и в создании неповторимого вкусового опыта для каждого клиента. Наши продавцы-эксперты готовы поделиться своими знаниями и помочь подобрать идеальные сыры для любого случая - будь то ужин на каждый день или праздничное застолье.

            В Dairy Delights Emporium каждый посетитель обнаружит не просто продукт, а настоящее произведение искусства, способное преобразить даже самое обыденное блюдо в удовольствие для вкусовых рецепторов. Погрузитесь в мир наших сыров, и вы обнаружите исключительность и наслаждение в каждом кусочке, приносящем радость вашему столу.
        </h2>
    </div>
</div>

<div style="background-color: black; height: 3px; width: 100%;margin-top: 50px;"></div>

<div class="contacts">
    <div class="pic" style="margin-left: 300px;"></div>

    <div class="social1">
        <i class="fa-brands fa-facebook" aria-hidden="true"></i>
    </div>
    <div class="social2">
        <i class="fa-brands fa-vk" aria-hidden="true"></i>
    </div>
    <div class="social3">
        <i class="fa-brands fa-instagram" aria-hidden="true"></i>
    </div>
    <center><h1 class="da">Наши контакты</h1></center>
    <ul class="contact-list">
        <li>Для связи с нами вы можете написать нам в Facebook, в нашу группу в Vk, нашу страницу в Instagram.</li>
        <li>Для просмотра свежих новостей можете подписаться на наш Instagram.</li>
        <li>Для сотрудничества с нами Вы можете связаться по номеру +7 9881 761 084 | Ежедневно с 8 до 20</li>
        <li>Или на почту DairyDelightsEmporium@mail.ru</li>
    </ul>

</div>

<div style="background-color: black; height: 3px; width: 100%;margin-top: 50px;"></div>

<div class="map">
    <h2 class="h2us" style="margin:auto" >Вы можете посетить наш оффлайн-магазин по адресу Астраханская область,гор.Астрахань,пер.Смоляной 2</h2>
    <div class="thismap">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2e15899beed1091374a82e42a6c6e44ebb672c6c07c1b28a0dc7de480cd3b3d5&amp;width=878&amp;height=707&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>

<div style="background-color: black; height: 3px; width: 100%;margin-top: 50px;"></div>

<div>
    <center><h1 class="contentHead" style="margin-top:20px;">Доставка и оплата</h1></center>
</div>

<div class="container4">
    <footer class="footer">
        <div class="footer-left col-md-4 col-sm-6">
            <p class="about">
                <span> О нашей компании</span> "Dairy Delights Emporium - это гурманский рай для любителей сыра. С особой страстью к мастерству и качеству, мы предлагаем эксклюзивный ассортимент сыров, от классических французских бри и камамберов до редких и экзотических вариаций со всего мира. Наша миссия — дарить неповторимый вкус и наслаждение каждому клиенту, подбирая идеальные сыры для их стола, будь то повседневный ужин или особый праздничный приём. В Cheese Delight вы найдете сыр, который удовлетворит ваш гурманский вкус и превратит каждое блюдо в произведение искусства."
            </p>
            <div class="icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-vk"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-center col-md-4 col-sm-6">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span> Наш адресс</span> Смоляной переулок,2</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p> +7 9881 761 084</p> |
                <p> Ежедневно с 8 до 20</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#"> DairyDelightsEmporium@mail.ru</a></p>
            </div>
        </div>
        <div class="footer-right col-md-4 col-sm-6">
            <h2> Dairy Delights <span> Emporium</span></h2>
            <p class="menu">
                <a href="#"> Каталог</a> |
                <a href="#"> О нас</a> |
                <a href="#"> Контакты</a> |
                <a href="#myModal1" id="modalOpen"> Политика конфиденциальности</a>
            </p>
            <p class="name"> Dairy Delights Emporium; 2004</p>
        </div>
    </footer>
</div>
<button id="backToTop" title="Go to top" style="display: none;">
    <i class="fa fa-angle-up"></i>
</button>
<div id="myModal1" class="modal1" style="overflow-x:hidden">
    <div class="modal-content1">
        <span class="close">&times;</span>
        <h1>Политика Конфиденциальности Интернет-Магазина "Dairy Delights Emporium"</h1>
        <p>Дата вступления в силу: 13.05.2004</p>
        <h1>1. Общие положения</h1>
        <p>Настоящая Политика конфиденциальности (далее – «Политика») действует в отношении всей информации, которую интернет-магазин "Dairy Delights Emporium", расположенный на доменном имени https://localhost:44330/, может получить о Пользователе во время использования сайта, программ и продуктов интернет-магазина.</p>
        <h1>2. Основные понятия</h1>
        <ul>
            <li>"Оператор" – интернет-магазин "Dairy Delights Emporium", осуществляющий обработку персональных данных, а также определяющий цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия или операции, совершаемые с персональными данными.</li>
            <li>"Персональные данные" – любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных).</li>
            <li>"Пользователь" – любой посетитель веб-сайта интернет-магазина "Dairy Delights Emporium".</li>
        </ul>
        <h1>3. Принципы и цели обработки персональных данных</h1>
        <p>1.Обработка персональных данных в "Dairy Delights Emporium" осуществляется на основе принципов:</p>
        <ul>
            <li>законности и справедливых оснований;</li>
            <li>целесообразности обработки;</li>
            <li>соответствия целей обработки персональных данных.</li>
        </ul>
        <p>2.Цели обработки персональных данных:</p>
        <ul>
            <li>осуществление деятельности, предусмотренной действующим законодательством Российской Федерации;</li>
            <li>выполнение обязательств "Dairy Delights Emporium" перед Пользователями относительно предоставления товаров и услуг.</li>
        </ul>
        <h1>4. Права субъекта персональных данных</h1>
        <p>Пользователь имеет право на получение информации касательно обработки его персональных данных. В соответствии с законодательством РФ Пользователь вправе требовать уточнения своих персональных данных, их блокирования или уничтожения в случае, если такие данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки.</p>
        <hi>5. Меры по защите персональных данных</hi>
        <p>"Dairy Delights Emporium" принимает необходимые и достаточные организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ними.</p>
        <h1>6. Изменения в Политике конфиденциальности</h1>
        <p>Оператор имеет право вносить изменения в настоящую Политику. Новая редакция Политики вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики.</p>
        <h1>7. Обратная связь. Вопросы и предложения</h1>
        <p>Все предложения, вопросы, запросы и иные обращения по поводу настоящей Политики и использования своих персональных данных Пользователи вправе направлять по адресу: DairyDelightsEmporium@mail.ru.</p>
    </div>
</div>