

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link  href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'">
<link  href="https://fonts.googleapis.com/css?family=Dancing+Script:700' rel='stylesheet' type='text/css'">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/AbotUsPage.css" />
<script src="~/js/map.js"></script>

<div class="row">
    <div class="containers col-lg-6 col-md-6">

        <div class="pic"></div>


        <div class="social1">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="social2">
            <i class="fa fa-vk" aria-hidden="true"></i>
        </div>
        <div class="social3">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
    </div>

    <div class="content col-md-offset-6 col-lg-offset-6">
        <center><h1 class="contentHead">ABOUT ME</h1></center>

        <h2>
            Hi Folks, <br /><br />
            This is Shaik Maqsood. I'm a Freakin frontend developer, jus came up with this concept of having a 45<sup>o</sup> trasformed DIV with a -45<sup>o</sup> background.<br /><br />
            Can't belive that it worked.
            <br /><br />
            Show your L<span>&hearts;</span>VE if you like my pen.
            <br /><br />
            <p>(NOTICE: The lady in the PIC is not me, I'm a guy :P)</p>
            <p><span style="text-align:right; color:#000000; font-size:18px;">* No matter what u say, that gal is sorta cute.</span></p>
        </h2>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2e15899beed1091374a82e42a6c6e44ebb672c6c07c1b28a0dc7de480cd3b3d5&amp;width=678&amp;height=507&amp;lang=ru_RU&amp;scroll=true"></script>

    </div>
</div>   