@{
    ViewData["Title"] = "HomePage";
}
<link rel="stylesheet" href="~/css/site.css" />
<meta name="viewport" content="width=device-width, initial-scale=0.97" />

<body>
    <div class="text-center">
        <div class="container">
            <nav>
                <div id="logo">Dairy Delights Emporium</div>
                <ul class="buttons">
                    <li class="btoooon"><a href="/Home/MainPage">Каталог</a></li>
                    <li class="btoooon1"><a href="#">О нас</a></li>
                    <li class="btoooon1"><a href="#">Доставка и оплата</a></li>
                </ul>
            </nav>
            <div class="intro">
                <h1 class="hi">"Добро пожаловать в сырный рай!"</h1>
                <p class="text">
                    Сыр – это не просто продукт, это произведение искусства, созданное из молока. Его великолепие начинается с уникальных вкусовых оттенков, которые могут быть мягкими и нежными или ярко выраженными с характерными нотками. В каждом кусочке сыра – история, отражающая традиции и мастерство его создателей.

                    В разных уголках мира сыры приобретают свою уникальность благодаря особенностям климата, породам скота и секретам производства. От французского бри до итальянского пармезана, каждый сыр воплощает в себе дух своего региона.

                    Этот продукт сочетает в себе богатство текстур – от кремовой до твердой, и множество ароматов. Сыр идеально сочетается с вином, фруктами и медом, открывая новые грани вкуса. Великолепие сыров в том, что они способны удивлять, вдохновлять и дарить настоящее наслаждение.
                </p>
                <a href="/Home/MainPage" class="btn">За покупаками!</a>
            </div>
        </div>
    </div>
</body>