@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Package>
<link rel="stylesheet" href="~/css/Pack.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
    <div class="search-container">
        <form method="get">
            <input type="text" name="searchQuery" placeholder="Искать в магазине" class="search-bar" />
        </form>
    </div>
    <center>
    <button id="Supnew" type="button" class="button">
        <p>Добавить упаковку</p>
    </button>
    </center>
    <div id="modal" class="modal">
        <div class="modal-content">
            <div style="width: 100%;">
                <p>Наименование упаковки</p>
                <textarea id="PackName" class="form-control" rows="6"></textarea>
            </div>
            <button id="Supnew2" type="button" class="button">
                <p>Добавить</p>
            </button>
        </div>
    </div>
    <div class="packages-container">
        @foreach (var package in Model)
        {
            <div class="package-item">
                <p>@package.Package_name</p>
                <button class="delete-user-btn" data-user-id="@package.Package_id">Удалить</button>
            </div>
        }
    </div>
    <button onclick="window.location.href='AdminPage'" class="back-button">
        На главную
    </button>

    <script>
        // Находим элементы кнопки и модального окна
        var button = document.getElementById('Supnew');
        var modal = document.getElementById('modal');

        // Добавляем обработчик события клика на кнопку
        button.addEventListener('click', function () {
            // Показываем модальное окно
            modal.style.display = 'block';
        });

        // Добавляем обработчик события клика за пределами модального окна, чтобы закрыть его
        window.addEventListener('click', function (event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        });
    </script>

    <script>
        function addSupplier() {
            var packName = $('#PackName').val().trim(); // Убираем лишние пробелы

            // Проверка наличия значений в обязательных полях и валидация
            if (!packName) {
                alert('Ошибка: не все поля заполнены');
                return;
            }

            // Проверка на наличие цифр в поле PackName
            if (/\d/.test(packName)) {
                alert('Ошибка: поле не должно содержать цифр');
                return;
            }

            // Формирование данных для отправки на сервер
            var data = {
                PackName: packName,
            };

            // Отправка данных на сервер с помощью AJAX запроса
            $.ajax({
                type: 'POST',
                url: '/Home/CreatePack', // Указываем URL вашего метода контроллера для обработки данных
                data: data,
                success: function (response) {
                    if (response.success) {
                        console.log('Данные успешно отправлены');
                        closeModal(); // Закрыть модальное окно после успешной отправки данных
                    } else {
                        alert(response.message); // Показываем сообщение об ошибке
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Ошибка при отправке данных:', error);
                    alert('Произошла ошибка при отправке данных на сервер');
                }
            });
        }

        // Функция для закрытия модального окна
        function closeModal() {
            $('#modal').hide();
        }

        // Добавление обработчика события клика на кнопку "Добавить"
        $(document).ready(function () {
            $('#Supnew2').click(function () {
                addSupplier(); // Вызываем функцию отправки данных при клике на кнопку
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".delete-user-btn").click(function () {
                var userId = $(this).data("user-id");

                // Отправляем AJAX-запрос на сервер для удаления пользователя
                $.ajax({
                    url: "/Home/DeletePack",
                    type: "POST",
                    data: { userId: userId },
                    success: function (result) {
                        if (result.success) {
                            // Успешное удаление пользователя
                            console.log(result.message); // Лог для отладки
                            alert("Упаковка удаленa.") // Отобразить сообщение об успешном удалении
                        } else {
                            // Не удалось удалить пользователя из-за активных заказов
                            console.log(result.message); // Лог для отладки
                            alert(result.message); // Отобразить сообщение об ошибке
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Ошибка удаления пользователя:", error);
                        if (xhr.status === 500 && xhr.responseText) {
                            alert(xhr.responseText); // Отобразить текст ошибки 500
                        } else {
                            alert("Произошла ошибка при удалении пользователя."); // Отобразить общее сообщение об ошибке
                        }
                    }
                });
            });
        });
    </script>
</body>

