
body {
    background: linear-gradient(to bottom right,#F9D86EAA,#ffffff);
    background-color: #F9D86E;
    overflow-x:hidden;
}

.row {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}
.containers {
    grid-column:1;
    width: 550px;
    height: 100%;
    margin-left: -300px;
}

.pic {
    box-shadow: 6px 6px 7px #888888;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    margin-left: 135px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

    .pic:before {
        content: '';
        margin-top: -211px;
        margin-left: -136px;
        position: absolute;
        width: 580px;
        height: 724px;
        background: url('/img/k.jpeg') center center;
        background-size: 350px;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        padding-left: 0px;
        background-repeat: no-repeat;
        background-size: 416px;
    }

    .pic:hover, .box1:hover, .box2:hover, .social1:hover, .social2:hover, .social3:hover {
        box-shadow: 3px 3px 7px #888888;
        cursor: pointer;
    }


.social1 {
    grid-column: 1;
    box-shadow: 6px 6px 7px #888888;
    width: 80px;
    height: 80px;
    background-color: #3b5998;
    margin-top: 36px;
    margin-left: 479px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

    .social1 > i {
        font-size: 60px;
        margin-top: 9px;
        margin-left: 9px;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        color: #ffffff;
    }

.social2 {
    grid-column: 1;
    box-shadow: 6px 6px 7px #888888;
    width: 80px;
    height: 80px;
    background-color: #2853de;
    margin-top: -143px;
    margin-left: 543px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

    .social2 > i {
        font-size: 60px;
        margin-top: 8px;
        margin-left: 12px;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        color: #ffffff;
    }

.social3 {
    grid-column: 1;
    box-shadow: 6px 6px 7px #888888;
    width: 80px;
    height: 80px;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    margin-top: -204px;
    margin-left: 605px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
}

    .social3 > i {
        font-size: 60px;
        margin-top: 9px;
        margin-left: 15px;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        color: #ffffff;
    }

.content {
    margin-left:1%;
    grid-column:2;
    height: 100%;
    width: 100%;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
}

.h2us {
    font-family: 'Dancing Script', cursive;
    grid-column:2;
}

.contentHead {
    text-align:center;
    width:100%;
    margin-top: -12px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    font-weight: 500;
}

sup {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
    font-size: smaller;
}

span {
    color: pink;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

._header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,1fr);
    background: linear-gradient(to bottom right,#F9D86EAA,#EDC23755);
    width: 100%;
    height: 120px;
    background-color: #F9D86E;
}

.logo {
    grid-column: 1;
    display: flex;
    vertical-align: middle;
}

.company-name {
    margin: auto auto 105px auto;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lobster', sans-serif;
    color: black;
    font-size: 25px;
}
.mogo {
    grid-column-start: 2;
    grid-column-end: 4;
    align-items: center;
    display: flex;
    justify-content: center
}
.header-buttons {
    margin-bottom: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: linear-gradient(to bottom right,#ffcc01,#fdc401,#ffcc01);
}

    .btn i {
        font-size: 30px;
        color: #333;
    }

.fav-button i {
    background: #333;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 24px;
    transition: color 0.3s;
}

.fav-button:hover i {
    background: linear-gradient(to bottom right,red,#e27105);
    -webkit-background-clip: text;
    background-clip: text;
}

.fav-button1 {
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    transition: background-color 0.3s, color 0.3s;
    border-width: 3px;
}

    .fav-button1:hover {
        background-color: red;
        color: white;
    }

.container4 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: auto;
    grid-row-end: auto;
}

.footer {
    background-color: #414141;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 100px;
    margin-left: -50px;
}

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: inline-block;
        vertical-align: top;
    }


    /* footer left*/

    .footer .footer-left {
        width: 33%;
        padding-right: 15px;
    }

    .footer .about {
        line-height: 20px;
        color: #ffffff;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
        font-size: 13pt;
        padding-left:20px;
    }

        .footer .about span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 14pt;
        }

    .footer .icons {
        padding-left: 20px;
        margin-top: 25px;
    }

        .footer .icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }


    /* footer center*/

    .footer .footer-center {
        width: 30%;
    }

        .footer .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer .footer-center p a {
                color: #0099ff;
                text-decoration: none;
            }


    /* footer right*/

    .footer .footer-right {
        width: 35%;
    }

    .footer h2 {
        color: #ffffff;
        font-size: 36px;
        font-weight: normal;
        margin: 0;
    }

        .footer h2 span {
            color: #0099ff;
        }

    .footer .menu {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

        .footer .menu a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

            .footer .menu a:hover {
                color: #0099ff;
            }

    .footer .name {
        color: #0099ff;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

@media (max-width: 767px) {
    .footer {
        font-size: 14px;
    }

        .footer .footer-left,
        .footer .footer-center,
        .footer .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }

            .footer .footer-center i {
                margin-left: 0;
            }
}

.footer .icons a {
    display: inline-block;
    transition: background-color 0.3s;
}

    .footer .icons a:hover {
        background-color: white;
        color: black;
        transition: background-color 0.3s;
    }

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ddd;
    color: #000;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s;
    z-index: 1000;
}

    #backToTop:hover {
        background-color: #fff;
    }

    #backToTop i {
        font-size: 20px;
        padding-top: 10px;
    }

.contacts {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}
.da {
    grid-column: 2;
    margin-top: -500px;
    text-align: center;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    font-weight: 500;
}
.contact-list {
    font-weight:bold;
    grid-column: 2;
    margin-top: -410px;
    list-style-type: disc; /* Устанавливаем маркер списка в виде точек */
    padding-left: 20px; /* Устанавливаем отступ слева для точек */
    font-size:30px;
}
    .contact-list li {
        margin-bottom: 30px; /* Отступ между пунктами списка */
    }
br{
    margin-top:30px;
}

.map {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}
.thismap {
    grid-column: 1;
    grid-row: 1;
    margin-top: 50px;
    padding-left: 30px
}
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content1 {
    border: 3px solid black;
    border-radius: 25px;
    z-index: 1;
    background-color: #fefefe;
    margin: 120px auto;
    width: 90%;
    padding: 30px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
.delivery-payment-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 50px;
    font-weight:bold;
    text-align: left; /* Выравнивание текста в списке слева */
}

    .delivery-payment-list li {
        margin-bottom: 10px;
        font-size: 24px; /* Увеличение размера шрифта пунктов списка */
    }
