body {
    overflow-x: hidden;
}

header {
    position:fixed;
    width: 100%;
    z-index:100;
    top:0;
    left:0;
    right:0;
}
._header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,1fr);
    background: linear-gradient(to bottom right,#F9D86EAA,#EDC23755);
    width: 100%;
    height: 120px;
    backdrop-filter:blur(5px);
}
.logo {
    grid-column: 1;
    display: flex;
    vertical-align:middle;
}
.company-name {
    margin:auto auto 105px auto;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lobster', sans-serif;
    color: black;
    font-size:25px;
}

.search_bar {
    display:inline-grid;
    align-items: center;
    grid-column: 1;
    justify-content: center;
}
.search-bar {
    background-image: url("../img/lupa.png");
    background-repeat: no-repeat;
    background-size:30px;
    background-position: 8px;
    outline:none;
    padding-left: 60px;
    align-items: center;
    height: 48px;
    width: 320px;
    border-radius: 10px;
    color:black;
    font-size: 14pt;
}
.mogo {
    grid-column-start: 2;
    grid-column-end: 4;
    align-items: center;
    display: flex;
    justify-content: center
}
.main_body {
    background: transparent;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: auto;
    display: grid;
    padding-left: 2%;
    width: 98%;
    margin-top: -500px;
    z-index: 7;
}
.container1 {
    top:120px;
    position:sticky;
    display:grid;
    align-items: center;
    margin-left: 30px;
    height: 150px;
    width: 100px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: auto;
    color: white;
}
.typess {
    color: black;
    border: black;
    grid-auto-rows: auto;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}
.gfdgfgdf {
    display: flex;
    color: black;
    gap: 30px;
    margin: 20px 0px auto;
}
.wqwqwq {
    margin: 14px 0px auto;
    border: 3px solid #bbbbbb;
    padding: 5px;
    border-radius: 14px;
    background-color: #bbbbbb
}
.gt{
    width:20px;
}
.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 1;
    margin-top: -40px;
}
.count_product {
    margin-top:63px;
    margin-right:auto;
    margin-left:85px;
    font-family: 'Comic Sans MS';
    display: flex;
    grid-column: 1;
    text-align: center;
    color: black;
    grid-row: 1;
}
.container3 {
    z-index:0;
    padding-left:80px;
    flex-wrap: wrap;
    min-width: fit-content;
    max-width: 100%;
    display: flex;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: auto;
    background-color: white !important;
    gap:80px;
}

select {
    margin-top: 57px;
    margin-left:310px;
    height: fit-content;
    grid-column: 3;
    text-align: left;
    display: flex;
    border-color: black;
    padding: 10px 5px;
    border-radius: 10px;
    width: fit-content;
}

    select:focus {
        outline: none;
    }

/*    //////////////////////////////productcard*/
a,
a:hover,
a:active {
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

.product-card {
    position: relative;
    margin: 10px 0px;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 270px;
    height: 470px;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 0.375rem;
    transition: all 0.3s ease;
}

    .product-card:hover {
        box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2)
    }

    .product-card .card-thumbnail {
        background: #000000;
        overflow: hidden;
    }

        .product-card .card-thumbnail img {
            display: block;
            width: 120%;
            -webkit-transition: all .3s cubic-bezier(0, .5, .5, 1);
            -o-transition: all .3s cubic-bezier(0, .5, .5, 1);
            transition: all .3s cubic-bezier(0, .5, .5, 1);
        }

    .product-card:hover .card-thumbnail img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
        opacity: .6;
    }

.fa-send:before {
    color: #fff;
    position: absolute;
    top: 15px;
    left: 13px;
}

.product-card .card-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 15px 30px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.product-card:hover .card-content .send {
    opacity: 1;
}

.product-card .card-content .card-title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.sale {
    padding: 4px 8px;
    position: absolute;
    left: 10px;
    background: #ff6633;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-top:-50px;
    z-index:1;
}
.sale1 {
    grid-column: 1;
    grid-row: 1;
    position: absolute;
    left: 10px;
    background: #ff6633;
    border-radius: 4px;
    font-weight: 400;
    margin-left: 380px;
    font-size: 16px;
    color: #fff;
    height: 30px;
    width: 60px;
    margin-top: 380px;
    z-index: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card .card-content .card-sub-title {
    margin: 0;
    padding: 0 0 20px;
    color: #197;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

.product-card .card-content .description {
    color: #666666;
    font-size: 12px;
    line-height: 1.8em;
    display: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman';
    margin-top: -10px;
    max-height: 170px;
    overflow-y:auto;
    /* height: 0px; */
}

.product-card .card-content .post-meta {
    margin: 20px -10px 20px;
    color: #999999;
    margin-left: -20px;
}

    .product-card .card-content .post-meta .time-stamp {
        margin: 10px 60px 0 0;
        font-size:13pt;
        color:gray;
    }

    .product-card .card-content .post-meta a {
        color: inherit;
        text-decoration: none;
    }
.product-card .card-content .send {
    position: absolute;
    top: -30px;
    right: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s ease;
    transition-delay: 0s;
    transition-delay: 0.3s;
    opacity: 0;
    background: linear-gradient(to bottom right,#ffcc01,#e27105);
}
.basket{
    height:47px;
    margin-left:6px;
    margin-top:5px;
}
.price{
    font-size:15pt;
}
.price1 {
    font-size: 15pt;
}
/*//////////////////////////*/
.header-buttons {
    margin-bottom:65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    height: 60px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 25px;
    padding-left: 15px;
    padding-right:15px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: linear-gradient(to bottom right,#ffcc01,#fdc401,#ffcc01);
}

    .btn i {
        font-size:30px;
        color: #333; 
    }
.fav-button i {
    background: #333;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 24px;
    transition: color 0.3s;
}

.fav-button:hover i {
    background: linear-gradient(to bottom right,red,#e27105);
    -webkit-background-clip: text;
    background-clip: text;
}
.fav-button1 {
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    transition: background-color 0.3s, color 0.3s;
    border-width:3px;
}
    .fav-button1:hover {
        background-color: red;
        color: white;
    }
.header-scrolled {
    background-color: #F9D86E; 
    transition: background-color 0.5s; 
}
/*///////////////////footer*/
.container4{
    grid-column-start:1;
    grid-column-end:6;
    grid-row-start:auto;
    grid-row-end:auto;
}
.footer {
    background-color: #414141;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 360px;
    margin-left:-50px;
}

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: inline-block;
        vertical-align: top;
    }


    /* footer left*/

    .footer .footer-left {
        width: 33%;
        padding-right: 15px;
    }

    .footer .about {
        line-height: 20px;
        color: #ffffff;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
        font-size:13pt;
    }

        .footer .about span {
            display: block;
            color: #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 14pt;
        }

    .footer .icons {
        margin-top: 25px;
        
    }

        .footer .icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }


    /* footer center*/

    .footer .footer-center {
        width: 30%;
    }

        .footer .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer .footer-center p a {
                color: #0099ff;
                text-decoration: none;
            }


    /* footer right*/

    .footer .footer-right {
        width: 35%;
    }

    .footer h2 {
        color: #ffffff;
        font-size: 36px;
        font-weight: normal;
        margin: 0;
    }

        .footer h2 span {
            color: #0099ff;
        }

    .footer .menu {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

        .footer .menu a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

            .footer .menu a:hover {
                color: #0099ff;
            }

    .footer .name {
        color: #0099ff;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

@media (max-width: 767px) {
    .footer {
        font-size: 14px;
    }

        .footer .footer-left,
        .footer .footer-center,
        .footer .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }

            .footer .footer-center i {
                margin-left: 0;
            }
}
.footer .icons a {
    display: inline-block;
    transition: background-color 0.3s; 
}

    .footer .icons a:hover {
        background-color: white; 
        color:black;
        transition: background-color 0.3s;
    }
/*............................... Кнопка вверх*/
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ddd;
    color: #000; 
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s; 
    z-index: 1000; 
}

    #backToTop:hover {
        background-color: #fff; 
    }

    #backToTop i {
        font-size: 20px; 
        padding-top: 10px;
    }
/*    ..........................модальное окно*/
.modal {
    overflow-y:hidden;
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    border-radius: 5px; 
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


.modal-content h2 {
    color: #333;
    margin-left: -20px;
    border-left: 5px solid #ffcc01;
    padding-left: 20px;
}

.modal-content input[type="text"],
.modal-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.modal-content button {
    background-color: #ffcc01;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

    .modal-content button:hover {
        opacity: 0.8;
    }


#switchToRegister {
    background-color: #f1f1f1;
    color: #ffcc01;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 15px;
    top: -10px;
    right: -10px;
    border: 2px solid #ffcc01;
}
.content {
    background-color: #4CAF50; 
    color: white; 
    padding: 20px;
    margin: 15% auto; 
    width: 50%; 
}

.error{
 margin:auto;
}
.info-button1 {
    position: absolute;
    font-size: 20px;
    bottom: 80px; /* Позиционирование выше fav-button1 */
    right: 20px;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    transition: background-color 0.3s, color 0.3s;
    border: 3px solid black; /* Добавьте border для согласованности стиля */
}
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content1 {
    border: 3px solid black;
    border-radius: 25px;
    z-index: 1;
    background-color: #fefefe;
    margin: 120px auto;
    width: 90%;
    padding: 30px;
}
.modal-content2 {
    

    background: linear-gradient(to bottom right,#F9D86EAA,#ffffff);
    background-color: #F9D86E;
    margin: 7% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 62%;
    height: 1050px;
    border-radius: 5px;
}
#exampleModal::-webkit-scrollbar {
    width: 0;
}
.form-groupimg {
    grid-column: 1;
    grid-row: 1
}
.formmy {
    display: grid;
    grid-template-columns: 1.9fr 2.2fr;
    grid-template-rows: repeat(2,1fr);
}
.form-groupdesc {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1
}
.form-groupname {
    margin-top:30px;
    font-family: 'Dancing Script', cursive;
    font-weight:bold;
    grid-column: 2;
    grid-row: 1
}

.aboba {
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1
}
.form-groupweight{
    margin-left:2px;
}
.ihih{
    display:block;
}
.form-groupsostav {
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1
}
.gav {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}
.form-groupprice {
    gap: 50px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
    gap:2px;
}
.form-grouppost {
    gap:50px;
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1
}

#myTabs {
    display: flex;
    margin-bottom: 10px;
    gap:15px;
    margin-top:20px;
}

.tab {
    height:20px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    margin-right: -1px;
    background-color: #f8f9fa;
}

    .tab:hover {
        background-color: #e9ecef;
    }

    .tab.active {
        background-color: #fff;
        border-bottom: 3px solid white;
        position: relative;
        z-index: 1;
    }

/* Стили для контента вкладок */
#myTabsContent .tab-content {
    display: none;
    border: 3px solid black;
    border-radius: 0 5px 5px 5px;
}

    #myTabsContent .tab-content.active {
        background: white;
        border-radius: 12px;
        display: block;
        margin-top: 75px;
        margin-left: -580px;
        padding-left: 10px;
        padding-bottom: 20px;
    }

